/* CSS rules to specify families */
/* 
font-family: 'Calligraffitti', cursive;
font-family: 'Gwendolyn', cursive;
font-family: 'IM Fell English', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

/* Your rules here */

