/* CSS rules to specify families */
/* 
font-family: 'Calligraffitti', cursive;
font-family: 'Gwendolyn', cursive;
font-family: 'IM Fell English', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

/* Reference colors */
/* { #f5d9df , #ea1c2c , white , rgb(222,192,222) , #f498b8 } */


/* Your rules here */

