* {
    margin-left: 5px;
}

body {
    background-color: rgba(250, 235, 215, 0.3);
}

h2 {
    color: blue;
}

ol li {
    color: green;
}

ul li {
    color: blue;
}

.headings {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cursive;
    letter-spacing: 1.25px;
}

h1 {
    text-decoration: green wavy underline;
    margin-top: 1px;
    padding-top: 0;
}

li {
    padding: 3px;
}

li::first-letter {
    font-size: 23px;
}

a {
    font-family: 'Gill Sans MT';
}

a:hover {
    font-size: larger;
}

.container {
    padding-bottom: 2px;
    font-size: 1.2em;
}

#lorem{
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.specific {
    margin-top: 2rem;
    margin-bottom: 3rem;
}



/* Guessing specificity */
/* h1 {
    color: blue;
}
.heading {
    color: green;
}
#heading1 {
    color: red;
} */



/* keyword : important  */
/* h1 {
    color: chocolate !important;
} */
